.sidebar {
    width: 250px;
    background-color: black;
    color: white;
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    position: fixed; 
    top: 130px;
    left: 0;
    bottom: 0;
  }
  .navbar-container {
    font-family: Arial, sans-serif;
    position:fixed ;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    display: column;
  }
  



.customer-details {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #ccc;
    margin-right: 10px;
  }
  
  .edit-button {
    background-color: #ffca28;
  }
  
  .profile-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .profile-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .orders-section {
    margin-top: 20px;
  }
  
  .orders-section table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .orders-section th, .orders-section td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .orders-section a {
    color: #007bff;
    text-decoration: none;
  }
  
  .orders-section a:hover {
    text-decoration: underline;
  }
  